/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-dark-white: #e4e5ea;
  --color-light-blue: #6b99c3;
  --color-blue: #73aace;
  --color-light-navy: #667798;
  --color-navy: #485879;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Universal Setting  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: default;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

/* nav */
nav {
  background-color: var(--color-light-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  padding: 10px;
}
.nav__logo {
  cursor: pointer;
}
.nav__logo i {
  padding-right: 5px;
}
.nav__menu {
  display: flex;
  flex-direction: row;
}
.nav__menu_item {
  color: var(--color-white);
  margin: 0 10px;
  padding: 10px;
}
.nav__menu_item.active {
  border: 1px solid var(--color-white);
}
.nav__menu_item:hover {
  background-color: var(--color-navy);
}
.navbar__toggle-btn {
  display: none;
  position: absolute;
  right: 32px;
  color: var(--color-white);
}

/* For blow 800px screen width  */
@media screen and (max-width: 800px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__menu {
    flex-direction: column;
    margin: auto;
    text-align: center;
    display: none;
  }
  .nav__menu_item {
    padding: 3px 0;
  }
  .navbar__toggle-btn {
    display: block;
  }
}
