/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-dark-white: #ededef;
  --color-light-grey: #aeb0b4;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-blue: #476eff;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 24px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 500;

  /* border-radius */
  --border-radius: 10px;
}
/* Universal Setting */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
button {
  cursor: pointer;
}
/* typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}
/* navbar */
.nav__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
/* left side */
.container__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  flex-basis: 40%;
}
.container__login_form {
  margin: 100px;
}
.container__login {
  display: flex;
  flex-direction: column;
}
.container__form {
  width: 415px;
  margin-top: 15px;
  padding-top: 20px;
}
.login__left_title {
  margin: 5px 0;
}
.login__left_description {
  color: var(--color-grey);
  font-size: var(--font-small);
  padding-left: 10px;
}
.login__email_input,
.login__password_input {
  width: 400px;
  height: 40px;
  padding-left: 15px;
  margin: 15px 0;
  caret-color: var(--color-blue);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-grey);
}
.user__option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}
.user__remember_box {
  margin: 0 5px;
}
.user__remember_title {
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
  padding-bottom: 3px;
}
.user__forgotpw {
  color: var(--color-blue);
  font-size: var(--font-small);
}

/* button */
.login__btn {
  height: 50px;
  margin: 15px 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  color: var(--color-white);
}
.login__google_btn {
  height: 50px;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.google__logo {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* account box */
.signup__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}
.signup__account {
  color: var(--color-dark-grey);
}
.signup__create_link {
  color: var(--color-blue);
  margin: 0 10px;
}
/* footer */
.left__copyright {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

/* right side*/
.container__right {
  flex-basis: 60%;
}
.container__right_pic img {
  height: 100%;
}
.container__right {
  background: url(/imgs/beach.jpg) center/cover no-repeat;
}
