:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-pink: #db758c;
  --color-milky-navy: #2d3856;
  --color-navy: #17203d;
  --color-light-grey: #798297;
  --color-dark-grey: #666b7f;
  --color-black: #000000;

  /* font-size */
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* size */
  --border-radius: 10px;
  --input-radius: 3px;
}

/* universal tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  cursor: default;
}
body {
  background-color: var(--color-navy);
  padding: 50px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--color-dark-pink);
  cursor: pointer;
}

#form__container {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-milky-navy);
  padding: 15px 30px;
  border-radius: var(--border-radius);
}
.form__signin_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 15px 0;
}
.form__sign_in {
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  padding-left: 10px;
}

.form__title_box {
  margin: 15px 0;
}
.form__title {
  margin: 10px 0;
  text-align: center;
}
.form__description {
  text-align: center;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

#form__container input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-dark-white);
  background-color: var(--color-dark-grey);
  color: var(--color-light-navy);
  caret-color: var(--color-whitey);
}
#form__container ::placeholder {
  color: var(--color-dark-white);
}
/* input box */
.form__box {
  margin: 5px 0;
}
.form__input_title {
  margin: 10px 0;
  font-size: var(--font-small);
}
.form__input {
  padding-left: 10px;
  border-radius: var(--input-radius);
}

.signup__btn {
  background-color: var(--color-dark-pink);
  color: var(--color-navy);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  padding: 10px 0;
  margin: 15px 0;
  border: none;
  cursor: pointer;
}

.privacy__statement_box {
  box-shadow: 1px 1px 10px var(--color-navy);
  padding: 20px;
  text-align: center;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  margin: 25px 0 40px 0;
}
