/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-pink: #ff8a80;
  --color-navy: #485879;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --border-radius: 70px;
}
/* Universal Tags */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

header {
  margin: 50px 0;
}
header h1 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.color__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 20px 0;
}
.color__codebox {
  width: 150px;
  height: 50px;
  background-color: var(--color-white);
  border: 2px solid var(--color-navy);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  text-align: center;
  line-height: 50px;
}
#colorbtn {
  width: 250px;
  height: 50px;
  margin: 50px 0;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}
