/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-pink: #eebed3;
  --color-yellow: #f5dd56;
  --color-blue: #0171bb;
  --color-black: #000000;

  /* font-size */
  --font-large: 42px;
  --font-medium: 24px;
  --font-regular: 16px;
  --font-small: 14px;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --border-radius: 15px;
}

/* Universal tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}
li {
  list-style: none;
}

#navbar {
  background-color: var(--color-pink);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.nav__menu_item {
  padding: 0 25px;
}
.nav__menu_item_contact {
  width: 100px;
  height: 30px;

  border: 1px solid var(--color-black);
  border-radius: var(--border-radius);
  background-color: var(--color-yellow);
}
