:root {
  /* color */
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-pink: #ff8a80;
  --color-light-pink: #f0c7c1;
  --color-dark-pink: #ff6863;
  --color-light-grey: #7c7979;
  --color-black: #000000;

  /* font-size */
  --font-large: 42px;
  --font-medium: 36px;
  --font-regular: 24px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font-weight */
  --weigh-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.container__left {
  align-items: center;
  text-align: center;
  position: relative;
}
.timer__title {
  font-family: "Kalam", cursive;
  color: var(--color-dark-pink);
  font-size: var(--font-large);
  font-weight: var(--weigh-bold);
}
.timer__counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timer__subtitle {
  color: var(--color-dark-white);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.subtitle {
  margin: 0 30px;
}
.counter__time {
  font-family: "Kalam", cursive;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0 30px;
}
.notified__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.notified__email p {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-grey);
  padding: 10px 0;
}
.email__input_box {
  display: flex;
}
.email__input {
  border: none;
  padding-left: 13px;
  margin-left: 15px;
  box-shadow: 1px 1px 5px var(--color-dark-white);
  height: 30px;
  width: 250px;
  caret-color: var(--color-dark-pink);
}
.email__send_btn {
  background-color: var(--color-dark-pink);
  box-shadow: 1px 1px 5px var(--color-dark-white);
  width: 50px;
  height: 30px;
  border: none;
  color: var(--color-white);
}
/* right */
.container__right {
  justify-content: center;
  align-items: center;
}
.right__main_pic {
  width: 500px;
}

@media screen and (max-width: 900px) {
  #container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .notified__email {
    display: flex;
    flex-direction: column;
  }
  .email__input_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .notified__email p {
    text-align: center;
    margin: 10px 0;
  }
}
